html {
  font-size: 0.625rem; /* 10px equivalent thanks to default of 16px */
  background: $color-dark-1;
  color: $color-text-light;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

body {
  font-size: 1.6rem; /* 16px equivalent */
}

a {
  color: $color-link;
  text-decoration: none;
  transition: .1s ease all;
}

a:hover {
  color: $color-link-hover;
}

h3 {
  margin-top: 6rem;
}
