.mood-neutral {
  background: white;
}

.mood-neutral .mood-emoji {
  content: '😶';
}

.mood-round-won {
  background: white;
}

.mood-round-won .mood-emoji {
  content: '😬';
}

.mood-round-lost {
  background: white;
}

.mood-round-lost .mood-emoji {
  content: '😂';
}

.mood-round-tie {
  background: white;
}

.mood-round-tie .mood-emoji {
  content: '😶';
}

.mood-match-won {
  background: white;
}

.mood-match-won .mood-emoji {
  content: '😬';
}

.mood-match-lost {
  background: white;
}

.mood-match-lost .mood-emoji {
  content: '🤣';
}
