.playspace {
  display: none;
}

.viewing-playspace {
  .playspace {
    display: flex;
  }
}



.playspace {
  padding: 4rem;
  background: $color-bg-2;
  min-height: 100vh;

  > div {

  }
}

.status {
  flex: 10;
  padding: 0 2rem;
}

.player {
  flex: 8;
  padding: 3rem;

  h3 {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin: 0;
    padding: 0;
  }
}

.player-name {
  font-weight: bold;
  font-size: 3rem;
  margin: 0 0 3rem 0;
  padding: 0;
}

.player1 .player-name, .player1 h3 {
  text-align: right;
}

.status {

  .scoreboard {
    background-color: rgba($color-alert-major, .65);
    padding: 3rem 1rem;
    text-align: center;
    font-size: 5rem;
    border-radius: 10rem;
  }

  .slash {
    // display: inline-block;
    // width: 0;
    // font-size: 8rem;
    opacity: .5;
  }

  .playeronescore .slash .playertwoscore {
  }
}


.cpu-player {
  font-size: 12rem;
  margin: 0;
  padding: 0;
  text-align: center;
}



.round-results, .match-results, .play-again-prompt {
  background: $color-dark-1;
  font-size: 2rem;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 2rem;
  @include clearfix;
}

.match-results {
  background: $color-alert-major;
}

.play-again-prompt {
  background: rgba($color-alert-1, .5);
  color: #fff;
  font-size: 2rem;
  margin-top: 6rem;
  border-radius: .2rem;
}
.playspace .btn-play-again {
  background: $color-alert-1;
  color: #fff;
  font-weight: bold;
  margin-top: 4rem;

  &:hover {
    background: rgba($color-alert-major, .7);
  }
}


.choice-p1, .choice-p2 {
  display: block;
  font-family: FontAwesome;
}
.choice-p1 {
  float: left;
}
.choice-p2 {
  float: right;
}
.choice-p1.rock::before, .choice-p2.rock::before {
  content: '\f255'; }
.choice-p1.paper::before, .choice-p2.paper::before {
  content: '\f256'; }
.choice-p1.scissors::before, .choice-p2.scissors::before {
  content: '\f257'; }

.player-controls .btn::before {
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 1rem;
}
.btn-rock::before {
  content: '\f255';
}
.btn-paper::before {
  content: '\f256';
}
.btn-scissors::before {
  content: '\f257';
}
